<div class="col-md-12">
	<p id="notice"><%= notice %></p>

	<h1>
	  <%= @product.name %>
	</h1>

	<h1>
	  <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @product.class.name, :id => @product.id), class: "img-thumbnail img-responsive", width: "113", height: "113" %>
	</h1>

	<p class="lead">
	  <%= raw(@product.description) %>
	</p>

	<p>
	  <%= number_to_currency(@product.price) %>
	</p>

	<hr>
	<%= link_to 'Back', products_path, :class => "btn btn-default" %>
</div>
