<div class="col-md-12"> 
	<p id="notice"><%= notice %></p>

	<h1>
	  <%= @product.name %>
	</h1>

	<h1>
	  <%= image_tag(@product.image_url, :class => 'list_image') %>
	</h1>

	<p class="lead">
	  <%= raw(@product.description) %>
	</p>

	<p>
	  <%= number_to_currency(@product.price) %>
	</p>

	<hr>
	<%= link_to 'Back', products_path, :class => "btn btn-default" %>
</div>