<div class="col-md-12">
	<p id="notice"><%= notice %></p>

	<h1>
	  <%= @product.name %>
	</h1>

	<h1>
	  <%= image_tag url_for(:controller => "/application", :action => "show_image", :model => @product.class.name, :id => @product.id), class: "img-thumbnail img-responsive", width: "113", height: "113" %>
	</h1>

	<h4>
	  <%= simple_format(@product.description) %>
	</h4>

	<h4 class="lead">
	  <strong><%= number_to_currency(@product.price) %></strong>
	</h4>

	<p>
	  <em> <%= @product.updated_at.strftime("%m/%d/%Y") %> </em>
	</p>

	<hr>
	<%= link_to 'Back', products_path, :class => "btn btn-default" %>
</div>
